.lime-live-category h3.entry-title span, .lime-live-category h3.entry-title a {
    background: none repeat scroll 0 0 #E68924;
}
.lime-live-category h3.entry-title {
    border-bottom-color: #E68924;
}
.lime-live-category div ul {
    margin: 0;
    padding: 0;
}
.lime-live-category div ul li {
    background: none repeat scroll 0 0 #333333;
    border: 1px solid #E68924;
    list-style: none outside none;
    margin: 0 0 10px;
    padding: 10px;
}
.lime-live-category div a:link, .lime-live-category div a:visited {
    color: #E68924;
    font-size: 90%;
}
.lime-live-category div h3 a:link, .lime-live-category div h3 a:visited {
    text-decoration: none;
    text-transform: uppercase;
}
.lime-live-category div h3 a:hover, .lime-live-category div h3 a:active {
    text-decoration: underline;
}
.lime-live-category div h3, .lime-live-category div p {
    font-size: 90%;
    font-weight: normal;
    margin: 0;
    padding: 0;
}